# Functions
### Help

In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [2]:
help('print')

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### Print

In [3]:
print('a')
print(1)
print(1.0)
print(True)

a
1
1.0
True

In [4]:
print('a', 1, 1.0, True)

a 1 1.0 True

In [8]:
print('a', 1, 1.0, True, sep=' ', end='\n')

a 1 1.0 True

In [6]:
print('a', 1, 1.0, True, sep=',')
print('a', 1, 1.0, True, sep='-')

a,1,1.0,True
a-1-1.0-True

In [7]:
print('a', 1, 1.0, True, sep=',', end='__')
print('a', 1, 1.0, True, sep='-')

a,1,1.0,True__a-1-1.0-True

### Type

In [9]:
print(type("a"))
print(type(1))
print(type(1.0))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### Input

In [10]:
x = input("Enter something: ")
print(type(x))

Enter something: 1
<class 'str'>

# Type Casting
### Int

In [18]:
print(int('1'))
print(type(int('1')))

1
<class 'int'>

In [19]:
print(int('a'))
print(type(int('a')))

ValueError: invalid literal for int() with base 10: 'a'

In [15]:
print(int(1.0))
print(type(int(1.0)))

1
<class 'int'>

In [17]:
print(int(1.9))
print(type(int(1.9)))

1
<class 'int'>

In [21]:
print(int(True))
print(type(int(True)))

1
<class 'int'>

In [22]:
print(int(False))
print(type(int(False)))

0
<class 'int'>

### Float

In [23]:
print(float('1'))
print(type(float('1')))

1.0
<class 'float'>

In [24]:
print(float('a'))
print(type(float('a')))

ValueError: could not convert string to float: 'a'

In [25]:
print(float(1))
print(type(float(1)))

1.0
<class 'float'>

In [28]:
print(float(True))
print(type(float(True)))

1.0
<class 'float'>

In [29]:
print(float(False))
print(type(float(False)))

0.0
<class 'float'>

### Bool

In [21]:
print(bool('1'))
print(type(bool('1')))

True
<class 'bool'>

In [31]:
print(bool('a'))
print(type(bool('a')))

True
<class 'bool'>

In [32]:
print(bool(''))
print(type(bool('')))

False
<class 'bool'>

In [33]:
print(bool(1))
print(type(bool(1)))

True
<class 'bool'>

In [34]:
print(bool(0))
print(type(bool(0)))

False
<class 'bool'>

In [36]:
print(bool(0.5))
print(type(bool(0.5)))

True
<class 'bool'>

In [37]:
print(bool(0.0))
print(type(bool(0.0)))

False
<class 'bool'>

In [25]:
print(int())
print(float())
print(bool())
print(str()) ''

0
0.0
False

In [26]:
str()

''

### Str

In [38]:
print(str(1))
print(type(str(1)))

1
<class 'str'>

In [39]:
print(str(1.5))
print(type(str(1.5)))

1.5
<class 'str'>

In [40]:
print(str(True))
print(type(str(True)))

True
<class 'str'>

In [41]:
print(str(False))
print(type(str(False)))

False
<class 'str'>

In [27]:
x = 1
print(x, type(x))

1 <class 'int'>

# Operators
### Arithmetic

In [2]:
print(2+3) # Addition
print(2-3) # Subtraction
print(2*3) # Multiplication
print(2/3) # Division

print(2//3)# Floor Division 
print(2%3) # Remainder/modulus
print(2**3)# Exponent

5
-1
6
0.6666666666666666
0
2
8

In [29]:
print(4/2)

2.0

In [28]:
print(-5//4)

-2

In [3]:
print(2.0+3)
print(2.0-3)
print(2.0*3)
print(2.0/3)

print(2.0//3)
print(2.0%3)
print(2.0**3)

5.0
-1.0
6.0
0.6666666666666666
0.0
2.0
8.0

### Comparitive

In [4]:
print(2 == 3) # Equal to
print(2 != 3) # Not equal to
print(2 >= 3) # Greater than or equal to
print(2 >  3) # Greater than
print(2 <= 3) # Less than or equal to
print(2 <  3) # Less than

False
True
False
False
True
True

### Logical

In [5]:
print(False and False)
print(False and True)
print(True  and False)
print(True  and True)

False
False
False
True

In [6]:
print(False or False)
print(False or True)
print(True  or False)
print(True  or True)

False
True
True
True

In [7]:
print(not True)
print(not False)

False
True

### Augmented (Short-hand)

In [8]:
x = 1   # Assignment
x += 1  # x = x + 1
x -= 1  # x = x - 1
x *= 1  # x = x * 1
x /= 1  # x = x / 1
x //= 1 # x = x // 1
x %=  1 # x = x %  1
x **= 1 # x = x ** 1

### Identity

In [10]:
x = 1
y = 1
print(x is y)
print(x is not y)

True
False

In [11]:
x = "a"
y = "b"
print(x is y)
print(x is not y)

False
True

In [32]:
x = 1
y = "1"
print(x is y)
print(x is not y)

False
True

### Membership

In [12]:
x = "abcdefg"
print("a" in x)
print("a" not in x)

True
False

In [13]:
x = "abcdefg"
print("t" in x)
print("t" not in x)

False
True

In [15]:
x = 12345
print(1 in x)
print(1 not in x)

TypeError: argument of type 'int' is not iterable

# Order of Operations
1. Brackets
2. Exponent (**)
3. Multiplication and Division (*, /, //, %)
4. Addition and Subtraction (+, -)


5. Comparitive


6. not
7. and
8. or

# String

In [20]:
x = 'Hi, my name is John.'
print(x)
x = "Hi, my name is John."
print(x)

Hi, my name is John.
Hi, my name is John.

In [21]:
x = 'I don't study python'
print(x)

SyntaxError: unterminated string literal (detected at line 1) (3978286233.py, line 1)

In [22]:
x = "I don't study python"
print(x)

I don't study python

In [23]:
x = 'He said "My name is John."'
print(x)

He said "My name is John."

In [24]:
x = "He said "My name is John.""
print(x)

SyntaxError: invalid syntax (1387494687.py, line 1)

In [30]:
print("C:\User\Documents\test.txt")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1835317042.py, line 1)

# Escape Sequences

In [26]:
'\n' # New line
'\t' # Tab Space

'\\' # BackSlash
'\'' # Single qoutation
'\"' # Double qoutation

'"'

In [29]:
print("Twinkle twinkle little star,\n\tHow I wonder what you are?\n\nUp above the world so high,\n\tLike a diamond in the sky.")

Twinkle twinkle little star,
	How I wonder what you are?

Up above the world so high,
	Like a diamond in the sky.

In [32]:
x = "He said, \"My name is John and I don\'t study python.\""
print(x)

He said, "My name is John and I don't study python."

In [34]:
x = 'He said, \"My name is John and I don\'t study python.\"'
print(x)

He said, "My name is John and I don't study python."

In [35]:
print("C:\\User\\Documents\\test.txt")

C:\User\Documents\test.txt

In [33]:
print("""Twinkle twinkle little star,
        How I wonder what you are?

Up above the world so high,
        Like a diamond in the sky.""")

Twinkle twinkle little star,
        How I wonder what you are?

Up above the world so high,
        Like a diamond in the sky.

In [34]:
print('''He said, "My name is John and I don't study python."''')

He said, "My name is John and I don't study python."

In [37]:
print("""C:\\User\\Documents\\test.txt""")

C:\User\Documents\test.txt

# String functions
### Len

In [36]:
print(len("a b c"))

5

### Ord

In [37]:
print(ord('a'))

97

In [38]:
print(ord('1'))

49

In [39]:
print(ord('A'))

65

### Chr

In [40]:
print(chr(65))

A

In [43]:
print(chr(51))

3

# String Methods

In [44]:
x = "aBc xYz"

In [46]:
print(x.lower())
print(x.upper())
print(x.title())
print(x.capitalize())
print(x.swapcase())

abc xyz
ABC XYZ
Abc Xyz
Abc xyz
AbC XyZ

In [6]:
x = 'The quick brown fox jumps over the lazy dog.'

In [8]:
print(x.find('o'))

12

In [9]:
print(x.find('t'))

31

In [10]:
print(x.find('T'))

0

In [11]:
print(x.find('1'))

-1

In [12]:
print(x.find('the'))

31

In [13]:
print(x.find('.', 16, 44))
print(x.find('.', 0, len(x)))

12

In [44]:
x = 'abc' * 5
print(x)

abcabcabcabcabc