# Introduction

Tuple is a datatype that is used to store multiple items in a single variable. It is denoted by a pair of paranthesis "( )" and each item is seperated by a comma.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are:
1. List
2. Set
3. Dictionary

All of these have different properties and usage.

# Creating tuples

#### Method #1
Enclose the items in a pair of paranthesis to make a tuple of those items. (or not)

In [1]:
"My name is john".split()

['My', 'name', 'is', 'john']

In [1]:
x = (1, 2, 3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
x = 1, 2, 3
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

#### Method #2
Use the tuple() constructor and pass a collection of items as arguments.

In [3]:
x = tuple(1, 2, 3)
print(x)
print(type(x))

TypeError: tuple expected at most 1 argument, got 3

In [2]:
x = tuple([1, 2, 3])
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [5]:
x = tuple("abcd")
print(x)
print(type(x))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [3]:
str(tuple("abcd"))

"('a', 'b', 'c', 'd')"

# Create an empty tuple

In [6]:
x = ()
print(x)
print(type(x))

()
<class 'tuple'>

In [7]:
x = tuple()
print(x)
print(type(x))

()
<class 'tuple'>

# Create tuple with single item

In [8]:
x = (1,)
print(x)
print(type(x))

(1,)
<class 'tuple'>

In [9]:
x = tuple((1))
print(x)
print(type(x))

TypeError: 'int' object is not iterable

In [10]:
x = (1,)
print(x)
print(type(x))

(1,)
<class 'tuple'>

In [11]:
x = tuple((1,))
print(x)
print(type(x))

(1,)
<class 'tuple'>

# Properties

1. Ordered (It means that the items have a defined order, and that order will not change.)

In [12]:
print((1, 2, 3) == (3, 2, 1))

False

2. Unchangeable/Immutable (It means that we cannot change, add or remove items after the tuple has been created.)

In [11]:
x = (1, 2, 3)
print(x)

(1, 2, 3)

In [12]:
x[0] = 2
print(x)

TypeError: 'tuple' object does not support item assignment

In [15]:
print(x.replace(1, 2))

AttributeError: 'tuple' object has no attribute 'replace'

3. Allow duplicates (It means that two or more items can have the same values.)

In [16]:
x = (1, 1, 2, 1, 2, 1, 3, 1, 1, 1)
print(x)

(1, 1, 2, 1, 2, 1, 3, 1, 1, 1)

4. Allow different datatypes (It means that a tuple can have items having different datatypes in it.)

In [17]:
x = (1, 2.5, True, "Yes", (1, 2, 3))
print(x)

(1, 2.5, True, 'Yes', (1, 2, 3))

5. Indexed (It means the items in tuples can be addressed using indexing and slicing.)

In [18]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [19]:
print(x[2])

cherry

In [20]:
print(x[-2])

melon

In [21]:
print(x[1:4])

('banana', 'cherry', 'orange')

In [22]:
print(x[-4:-2])

('orange', 'kiwi')

# Tuple Methods
#### count() 
<i> tuple.count(value) </i> <br>
Returns the number of times a specified value occurs in a tuple.

In [23]:
x = (1, 1, 2, 1, 2, 1, 3, 1, 1, 1)

In [24]:
print(x.count(1))

7

In [25]:
print(x.count(4))

0

#### index()
<i > tuple.index(value) </i> <br>
Searches the tuple for a specified value and returns the position of where it was found.

In [ ]:
x = (1, 1, 2, 1, 2, 1, 3, 1, 1, 1)

In [26]:
print(x.index(1))

0

In [27]:
print(x.index(3))

6

In [28]:
print(x.index(4))

ValueError: tuple.index(x): x not in tuple

#### len()
<i> len(tuple) </i> <br>
Returns the length of tuple. (It is not a method of tuple)

In [ ]:
x = (1, 1, 2, 1, 2, 1, 3, 1, 1, 1)

In [1]:
x = ('apple', 'mango')

In [2]:
print(len(x))

2

# Tuple of tuple

In [16]:
x = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(type(x))

<class 'tuple'>

In [17]:
print(x[0])
print(type(x[0]))

(1, 2, 3)
<class 'tuple'>

In [18]:
print(x[0][0])
print(type(x[0][0]))

1
<class 'int'>

# Check if item is in tuple

In [33]:
x = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")

In [34]:
print("cherry" in x)

True

In [35]:
print("grape" in x)

False

In [36]:
print("cherry" not in x)

False

In [37]:
print("grape" not in x)

True

# Unpacking tuple

In [38]:
# fruits = ("apple", "banana", "cherry")

# (green, yellow, red) = fruits

(green, yellow, red) = ("apple", "banana", "cherry")

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [39]:
fruits = "apple", "banana", "cherry"

green, yellow, red = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
x = 1
y = 2
x, y = y, x

In [40]:
fruits = ("apple", "banana", "cherry", "mango")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 3)

In [41]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red, blue) = fruits

print(green)
print(yellow)
print(red)
print(blue)

ValueError: not enough values to unpack (expected 4, got 3)

In [42]:
fruits = ("apple", "banana", "cherry", "mango", "grape")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'mango', 'grape']

In [43]:
print(type(red))

<class 'list'>

In [44]:
fruits = ("apple", "banana", "cherry", "mango", "grape")

(green, *yellow, *red) = fruits

print(green)
print(yellow)
print(red)

SyntaxError: multiple starred expressions in assignment (1142101186.py, line 3)

In [45]:
fruits = ("apple", "banana", "cherry", "mango")

(*green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana']
cherry
mango

In [46]:
fruits = ("apple", "banana", "cherry", "mango")

(green, *yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
['banana', 'cherry']
mango

# Join tuples

In [47]:
tuple1 = ("a", "b", "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [48]:
fruits = ("apple", "banana", "cherry")
fruits2 = fruits * 2
print(fruits2)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

You can add notes in the copy of this notebook, try out coding on your own, try to experiment with it. And if you have any confussion, you can ask in google classroom, or actual classroom.

# Assignment
<b>Q) Complete the question in the cell below. You cannot change the first and the last line and write however many lines you deem necessary in place of (Your code here).</b><br>

Hint: There are two ways that I can think of. Both of those requires two sets of techniques that we studied above in combination to work. So you should look at the headings to find the two techniques.
1. Unpack, make the change and make the tuple again.
2. Slice it then concatenate.

In [1]:
x = (1, 2, 3, 4, 10)

# Your code here

print(x) # Output should be (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [6]:
x = (1, 2, 3, 4, 10)

# Your code here
*a, b = x
b = 5
x = tuple(a) + (b,)

print(x) # Output should be (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [9]:
x = (1, 2, 3, 4, 10)

# Your code here
a = x[-1]
a = 5
x = x[:-1] + (a,)

print(x) # Output should be (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

I won't accept the following codes:

In [50]:
x = (1, 2, 3, 4, 10)

x = (1, 2, 3, 4, 5)

print(x) # Output should be (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [51]:
x = (1, 2, 3, 4, 10)

x = list(x)
x[-1] = 5
x = tuple(x)

print(x) # Output should be (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

Both these codes are correct, but the first one is too easy and as for the second one, it will pop up infront of you if try to google the problem and includes some techniques that we haven't studied yet. You can only use the techniques (headings) that are in this notebook. This is a test for your creativity and problem solving skills. So if you can think of any other code that I can't think of that will be great. Good Luck!

In [8]:
{(1, 2, 3): 123}

{(1, 2, 3): 123}