# Introduction

List is a datatype that is just like tuple, while the only difference being that the contents of list can be added, deleted or changed after a list has been created. It is denoted by a pair of brackets "[ ]" and each item is seperated by a comma.

# Creating lists

#### Method #1
Enclose the items in a pair of brackets to make a list of those items.

In [1]:
x = [1, 2, 3]
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

#### Method #2
Use the list() constructor and pass a collection of items as arguments.

In [2]:
x = list(1, 2, 3)
print(x)
print(type(x))

TypeError: list expected at most 1 argument, got 3

In [3]:
x = list((1, 2, 3))
print(x)
print(type(x))

[1, 2, 3]
<class 'list'>

# Create an empty list

In [4]:
x = []
print(x)
print(type(x))

[]
<class 'list'>

In [5]:
x = list()
print(x)
print(type(x))

[]
<class 'list'>

# Create tuple with single item

In [2]:
x = [1]
print(x)
print(type(x))

[1]
<class 'list'>

In [7]:
x = list(1)
print(x)
print(type(x))

TypeError: 'int' object is not iterable

In [3]:
x = list((1))
print(x)
print(type(x))

[1]
<class 'list'>

In [9]:
x = list((1,))
print(x)
print(type(x))

[1]
<class 'list'>

# Properties

1. Ordered (It means that the items have a defined order, and that order will not change.)

2. Changeable (It means that we can change, add or remove items after the list has been created.)

3. Allow duplicates (It means that two or more items can have the same values.)

4. Allow different datatypes (It means that a tuple can have items having different datatypes in it.)

5. Indexed (It means the items in tuples can be addressed using indexing and slicing.)

In [10]:
print([1, 2, 3] == [3, 2, 1])

False

In [12]:
x[0] = 2
print(x)

[2, 2, 3]

In [14]:
x = [1, 1, 2, 1, 2, 1, 3, 1, 1, 1]
print(x)

[1, 1, 2, 1, 2, 1, 3, 1, 1, 1]

In [4]:
x = [1, 2.5, True, "Yes", (1, 2, 3), [1, 2, 3]]
print(x)

[1, 2.5, True, 'Yes', (1, 2, 3), [1, 2, 3]]

In [16]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [17]:
print(x[2])

cherry

In [18]:
print(x[-2])

melon

In [19]:
print(x[1:4])

['banana', 'cherry', 'orange']

In [20]:
print(x[-4:-2])

['orange', 'kiwi']

# List Methods
#### count() 
<i> list.count(value) </i> <br>
Returns the number of times a specified value occurs in a list.

In [21]:
x = [1, 1, 2, 1, 2, 1, 3, 1, 1, 1]

In [22]:
print(x.count(1))

7

In [23]:
print(x.count(4))

0

#### index()
<i > list.index(value) </i> <br>
Searches the list for a specified value and returns the position of where it was found.

In [24]:
print(x.index(1))

0

In [25]:
print(x.index(3))

6

In [26]:
print(x.index(4))

ValueError: 4 is not in list

#### len()
<i> len(list) </i> <br>
Returns the length of list. (It is not a method of list, it is a function that applies to every iterable.)

In [27]:
print(len(x))

10

In [ ]:
"abca"
1231

### Add items to list

#### append()
<i > list.append(value) </i> <br>
Adds an element to the end of the list.

In [2]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [29]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)
print(b)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]
['Ford', 'BMW', 'Volvo']

#### extend()
<i > list.extend(value) </i> <br>
Adds multiple elements from another list (or other iterables) to list.

In [30]:
fruits = ['apple', 'banana', 'cherry']
fruits.extend("orange")
print(fruits)

['apple', 'banana', 'cherry', 'o', 'r', 'a', 'n', 'g', 'e']

In [31]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.extend(b)
print(a)
print(b)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']
['Ford', 'BMW', 'Volvo']

In [32]:
a = [1, 2, 3]
b = 4
a.extend(b)
print(a)

TypeError: 'int' object is not iterable

#### insert()
<i > list.insert(position, value) </i> <br>
Adds the specified value at the specified position..

In [33]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")
print(fruits)
print(fruits.insert(1, 1))
print(fruits)

['apple', 'orange', 'banana', 'cherry']
None
['apple', 1, 'orange', 'banana', 'cherry']

### Remove items from list

#### pop()
<i > list.pop(position) </i> <br>
Removes the element present at the specified position. (If the position is not defined, it removes the last element.)

In [3]:
fruits = ['apple', 'banana', 'cherry']
print(fruits.pop())
print(fruits)

cherry
['apple', 'banana']

In [35]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.pop(1)
print(x)

banana

In [36]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop(len(fruits)-1)
print(fruits)

['apple', 'banana']

In [37]:
fruits = ['apple', 'banana', 'cherry']
x = fruits.pop()
print(x)
print(fruits)

cherry
['apple', 'banana']

In [38]:
fruits = ['apple', 'banana', 'cherry']
fruits.pop()

'cherry'

#### del

<i > del list[position] </i> <br>
Removes the element present at the specified position. (If the position is not defined, it deletes the whole list.) (It is not a method of list, it is a keyword that applies to every object.)

In [39]:
fruits = ["apple", "banana", "cherry"]
del fruits[1]
print(fruits)

['apple', 'cherry']

In [40]:
fruits = ["apple", "banana", "cherry"]
del fruits[:]
print(fruits)

[]

In [5]:
fruits = ["apple", "banana", "cherry"]
del fruits
print(fruits)

NameError: name 'fruits' is not defined

#### remove()
<i > list.remove(value) </i> <br>
Removes the first occurrence of the specified value.

In [42]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [43]:
fruits = ['apple', 'banana', 'cherry', 'apple']
fruits.remove("apple")
fruits.remove("apple")
fruits.remove("apple")
print(fruits)

ValueError: list.remove(x): x not in list

#### clear()
<i > list.clear() </i> <br>
Removes all elements of the list.

In [45]:
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)
fruits.append("apple")
print(fruits)

[]
['apple']

In [1]:
fruits = ['apple', 'banana', 'cherry', 'orange']
# del fruits[:]
fruits = []
print(fruits)

[]

### Sort items in list

#### sort()
<i > list.sort(reverse, key) </i> <br>
Sorts the list in ascending order.

In [46]:
x = [1, 6, 8, 2, 5, 6]
x.sort()
print(x)

[1, 2, 5, 6, 6, 8]

In [3]:
x = [1, 6, 8, 2, 5, 6]
x.sort(reverse=True)
print(x)

[8, 6, 6, 5, 2, 1]

In [5]:
x = ['d', 'r', 'f', 'a', 'e', 0, 1, 'A', 'B']
x.sort()
print(x)

TypeError: '<' not supported between instances of 'int' and 'str'

In [4]:
x = [[2, 3], [4, 5, 6], [1]]
x.sort()
print(x)

[[1], [2, 3], [4, 5, 6]]

#### reverse()
<i > list.reverse(key) </i> <br>
Reverses the list.

In [48]:
x = [1, 6, 8, 2, 5, 6]
x.reverse()
print(x)

[6, 5, 2, 8, 6, 1]

In [49]:
x = [1, 6, 8, 2, 5, 6]
x.sort()
x.reverse()
print(x)

[8, 6, 6, 5, 2, 1]

In [50]:
x = [1, 6, 8, 2, 5, 6]
x.sort(reverse = True)
print(x)

[8, 6, 6, 5, 2, 1]

### Copy list
#### Shallow copy:

In [7]:
x = [1, 2, 3]
y = x
y.append(1)
print(x)
print(y)

[1, 2, 3, 1]
[1, 2, 3, 1]

#### Deep copy:

In [6]:
x = [1, 2, 3]
y = x.copy()
y.append(1)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 1]

In [53]:
x = [1, 2, 3]
y = x[:]
y.append(1)
print(x)
print(y)

[1, 2, 3]
[1, 2, 3, 1]

### Change elements in list

In [54]:
fruits = ["apple", "banana", "cherry"]
fruits.change(1, "orange")

AttributeError: 'list' object has no attribute 'change'

In [55]:
fruits = ["apple", "banana", "cherry"]
fruits.pop(1)
print(fruits)
fruits.insert(1, "orange")
print(fruits)

['apple', 'cherry']
['apple', 'orange', 'cherry']

In [56]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "orange"
print(fruits)

['apple', 'orange', 'cherry']

# List of lists

In [57]:
x = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(type(x))

print(x[0])
print(type(x[0]))

print(x[0][0])
print(type(x[0][0]))

<class 'list'>
[1, 2, 3]
<class 'list'>
1
<class 'int'>

In [58]:
x = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
print(type(x))

print(x[0])
print(type(x[0]))

print(x[0][0])
print(type(x[0][0]))

<class 'list'>
(1, 2, 3)
<class 'tuple'>
1
<class 'int'>

In [59]:
x = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
print(type(x))

print(x[0])
print(type(x[0]))

print(x[0][0])
print(type(x[0][0]))

<class 'tuple'>
[1, 2, 3]
<class 'list'>
1
<class 'int'>

# Check if item is in list (X)

In [60]:
x = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [61]:
print("cherry" in x)

True

In [62]:
print("grape" in x)

False

In [63]:
print("cherry" not in x)

False

In [64]:
print("grape" not in x)

True

# Unpacking list (X)

In [65]:
fruits = ["apple", "banana", "cherry"]

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [66]:
fruits = ["apple", "banana", "cherry", "mango"]

[green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

ValueError: too many values to unpack (expected 3)

In [67]:
fruits = ["apple", "banana", "cherry"]

[green, yellow, red, blue] = fruits

print(green)
print(yellow)
print(red)
print(blue)

ValueError: not enough values to unpack (expected 4, got 3)

In [68]:
fruits = ["apple", "banana", "cherry", "mango"]

[green, yellow, *red] = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'mango']

In [69]:
print(type(red))

<class 'list'>

In [70]:
fruits = ["apple", "banana", "cherry", "mango"]

[green, *yellow, *red] = fruits

print(green)
print(yellow)
print(red)

SyntaxError: multiple starred expressions in assignment (3216368996.py, line 3)

In [71]:
fruits = ["apple", "banana", "cherry", "mango"]

*green, yellow, red = fruits
(*green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana']
cherry
mango

In [72]:
fruits = ["apple", "banana", "cherry", "mango"]

(*green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana']
cherry
mango

In [73]:
fruits = ("apple", "banana", "cherry", "mango")

[*green, yellow, red] = fruits

print(green)
print(yellow)
print(red)

['apple', 'banana']
cherry
mango

# Join lists (X)

In [74]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [75]:
list1 = ["a", "b" , "c"]
list2 = (1, 2, 3)
list3 = list1 + list2
print(list3)

TypeError: can only concatenate list (not "tuple") to list

In [76]:
list1 = ["a", "b" , "c"]
list2 = [[1, 2, 3]]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', [1, 2, 3]]

In [77]:
fruits = ["apple", "banana", "cherry"]
fruits2 = fruits * 2
print(fruits2)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']